.questions {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  color: white;
}

h2 {
  text-align: center;
  font-size: 32px;
  font-weight: lighter;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  font-family: 'Courgette', cursive;
}


form {
  margin-top: 10vh;
  font-weight: lighter;
}

label {
  display: inline-flex;
  align-items: left;
  margin-bottom: 10px;
  font-size: 24px;
}

input[type="radio"],
input[type="checkbox"] {
  margin-left: 20%;
  align-items: left;
  margin-top: 20px;

}

button {
  width: 248px;
  height: 70px;
  background: rgba(255, 255, 255, 0.14);
  border: 1px solid #FFFFFF !important;
  border-radius: 8px;
  font-size: 20px !important;
  color: white;
  margin-top: 50px;
  margin-left: 60%;
}


input[type="checkbox"] {
  appearance: none;
  border: 2px solid #FFFFFF;
  outline: none;
  background-color: transparent;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}


input[type="checkbox"]:checked::before {
  content: "✔";
  font-size: 16px;
  color: white;
  margin-left: 6px;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: lighter;
}

input[type="radio"] {
  position: relative;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #fff;
  border-radius: 50%;
  outline: none;
  background-color: transparent;
}

input[type="radio"]::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0;
}

input[type="radio"]:checked::before {
  opacity: 1;
}

input[type='text'] {
  display: block;
  width: 248px;
  height: 70px;
  background: rgba(255, 255, 255, 0.14);
  border: 1px solid #FFFFFF ;
  margin-bottom: 20px;
  color: white;
  padding-left: 10px;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

}

button[type="submit"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}