/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;600&display=swap'); */

.blur-background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.26);
  backdrop-filter: blur(5px);
}

.requests {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  height: fit-content;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.request-bar {
  position: relative;
  box-sizing: border-box;
  width: 800px;
  height: 80px;
  background: rgba(0, 0, 0, 0.44);
  border-bottom: 1px solid #FFFFFF;
}

.username {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}

.accept {
  position: absolute;
  right: 100px;
  top: 50%;
  font-size: 32px;
  display: flex;
  transform: translateY(-50%);
  transition: 0.1s;
  color: #fff;
}

.accept:hover {
  cursor: pointer;
  filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(50deg);
}

.decline {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);;
  transition: 0.1s;
  font-size: 32px;
  display: flex;
  color: #fff;
}

.decline:hover {
  cursor: pointer;
  filter: invert(50%) sepia(30%) saturate(1000%) brightness(73%) contrast(1000%);
}

.close-button {
  box-sizing: border-box;
  position: absolute;
  width: 212px;
  height: 49px;
  left: 43%;
  top: 88%;
  background: rgba(255, 255, 255, 0.14);
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  transition: 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  transition: 0.1s; 
}

.close-button:hover {
  cursor: pointer;
  background-color: white;
}

.close-button:hover .close-text {
  color: #372C2E;
}
